@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,300;0,700;1,100;1,900&family=Oswald:wght@200;300;700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400;1,900&family=Poppins:ital,wght@0,500;0,700;1,100;1,300&family=Raleway:ital,wght@0,200;1,100&family=Shadows+Into+Light&family=Zeyada&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: auto;
  width: 100vw; 
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}


/* Add styles for the weekend and disabled tiles */
.react-calendar__tile.weekend.disabled {
  background-color: rgb(219, 51, 51);
  pointer-events: none;
  opacity: 0.6; 
  color: white;
}

/* Styles for disabled tiles */
.react-calendar__tile--active.react-calendar__tile--disabled {
  background-color: rgb(0, 0, 0);
  pointer-events: none;
  opacity: 0.6; 
  color: white;
}

@media screen and (max-width : 420px) {
  .react-calendar{
    width: 80% !important;
  }
}

.movileNav{
  display: none;
}

@media screen and (max-width : 460px) {
    .mobileNav{
      display: block;
    }
}