.hero__container{
    width : 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    transform: translateY(5rem) !important;
}

.hero__first h1{
    align-self: flex-start;
    font-weight: bold;
    font-size : 3.5rem;
    transform: translate(3rem,-3rem);
    color : black;
    width : 60vw;
}

.hero__first button{
    padding: 0.6rem 3rem;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    font-size: large;
    position: relative;
    left : 1.5rem;
    bottom : 1rem;
    cursor: pointer;
}
.hero__video{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width : 1000px;
    height: 500px; 
    color : black;
}
.hero__video video {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width : 1500px;
    border-radius: 15px;
    height: 500px; 
    color : black;
}

@media screen and (max-width : 460px) {
    .hero__first h1{
        font-size: 1.9rem !important;
        width : 70vw;
    }
    .hero__first button{
       padding : 0.6rem 1.3rem;
       font-size: small;
       font-weight: bold;
       transform: translate(-2.5rem,-2.5rem) !important;
    }
    .hero__video video{
        width : 90vw;
        height : 450px;
        transform: translateY(-0rem) !important;
        border-radius: 20px;
    }    
}


@media screen and (max-width : 720px) {
    .hero__container{
        transform: translateY(-25rem);
    }
    .hero__first h1{
        font-size: 2rem;
        width : 75vw;
        transform: translate(-1rem,-3.2rem) !important;
    }
    .hero__first button{
       padding : 0.6rem 2.1rem;
       font-size: small;
       font-weight: bold;
       transform: translate(-2.5rem,-2.5rem) !important;
    }
    .hero__video{
        width : 90vw;
        height : 250px;
        transform: translateY(-1rem) !important;
    }    
    .video{
        width : 90vw;
        height : 450px;
        transform: translateY(-1rem) !important;
    }
}

@media screen and (max-width : 1024px) {

    .hero__first h1{
        font-size: 3rem;
        width : 80vw;
        transform: translate(-0rem,-3.2rem) !important;
    }
    .hero__first button{
       padding : 1rem 2.1rem;
       font-size: small;
       font-weight: bold;
       transform: translate(-1.5rem,-2.5rem) !important;
    }
    .hero__video video{
        width : 80vw;
        height : 350px;
        transform: translateY(-2.5rem) !important;
    }    
}