.navbarmobile__container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: auto;

}
.navbarmobile__container ul{
    margin-top: 2rem;
    width: 13rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    list-style-type: none;
    position: absolute;
    justify-content: center;
    transform: translateX(-6rem);
    background-color: #4d4b4b;
    z-index: 100 !important;
}
.navbarmobile__container ul li{
   
    color: white;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}