.navbar__container{
    display: flex;
    height : 4rem;
    align-items: center;
    justify-content: space-between;
    width : 95vw;
    background-color: white;
    color : #535353;
    z-index: 15;
}
.hamburger{
    display : none;
    transform: translateY(0.1rem);
}
.nav__firstDiv{
    display: flex;
    gap : 1.5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(2rem);
}
.logo{
    align-self: center;
    margin-top: 1rem;
}
.log img{
    width: 100px;
}
.list{
    display: flex;
    gap : 1rem;
    align-items: center;
    justify-content: center;
}
.nav__secondDiv{
    display: flex;
    transform: translateX(-2rem);
    gap : 3rem;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width : 720px) {
    .logo {
       transform: translateX(-1.5rem) !important;
       margin-top: 0.7rem;
    }
        .navbar__container{
            transform: translateX(-0.5rem);
            justify-content: space-around;
        }
        .hamburger{
            display : block !important;
        }
        .list , .nav__secondDiv {
            display : none;
        }
}

@media screen and (max-width : 820px) {
    .logo h1{
        font-size: 1rem;
    }
        .navbar__container{
            justify-content: space-around;
        }
        .hamburger{
            display : none;
        }
        .list , .nav__secondDiv {
                font-size: 12px;
        }
}