.mysalon__container{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.choices{
    width: 700px;
    background-color: rgb(19, 18, 18);
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 5px;
    margin-top: 1.5rem;
}

.choices ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: white;
}

.choices ul li {
    list-style-type: none;
    transition: all ease-in 300ms;
    padding: 0.4rem;
    border-radius: 12px;
    cursor: pointer;
}
.choices ul li:hover {
    background-color: white;
    color : black;
}
.main__container{
    width: 700px;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}