.saloninfo__container{
    width: 700px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
 .item {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}
 .item input {
    padding: 1rem 3rem;
    background: none;
    border: solid black 1px;
}

.personalinfo__container button {
    padding: 1rem 2.2rem;
    background-color: rgb(21, 53, 160);
    color : white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transform: translateX(-0.8rem);
}
.haircuts ul{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.button{
    padding : 1rem 4rem;
    border : none;cursor: pointer;
    border-radius: 9px;
    transform: translateX(-1rem);
    background-color: rgb(115, 194, 194);
}
.saloninfo__container img{
    width : 250px;
    height : 100px;
}


.haircutForm__container{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    flex-wrap: wrap;
}
.inputs input {
    padding: 0.9rem 1.5rem;
    background: none;
    border: solid black 1px;
}

.inputs button{
    background-color: black;
    color : white;
    padding: 1rem ;
    border : none;
    border-radius: 5px;
    cursor: pointer;
}

.weekendDays{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;   
}

.weekendDays label {
    margin-left: 0.6rem;   
}

.closeDays{
    width: 700px; 
}

.hours{
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.hours button{
    background : black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}
.hours button:hover{
    background : rgb(241, 241, 241);
    color: rgb(5, 5, 5);
    border: solid 1px black;
}

.hours button:focus{
    background : rgb(59, 43, 43);
    color: rgb(5, 5, 5);
    border: solid 1px black;
}
/** */
.closehours{
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.closehours button{
    background : black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}
.closehours button:hover{
    background : rgb(241, 241, 241);
    color: rgb(5, 5, 5);
    border: solid 1px black;
}

.closehours button:focus{
    background : rgb(59, 43, 43);
    color: rgb(5, 5, 5);
    border: solid 1px black;
}


@media screen and (max-width : 470px) {
    .saloninfo__container{
        width: 500px;
    }
    .item{
        width : 300px;
    }
    .weekendDays{
        width: 270px;
    }
    .closeDays{
        transform: translateX(0.5rem);
        width: 330px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .button{
        width: 300px;
        transform: translateX(0rem);
    }
}